/*
Arc-Dark Color Scheme
*/

@define-color highlight #fbf1c7;
@define-color base1  #ffffff;
@define-color base3  #282828;

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: #fbf1c7;
}

#inner-box {
    background-color: @base3;
}

#outer-box {
    margin: 1px;
    padding:15px;
    background-color: #282828;
}

#text {
    padding: 5px;
    color: @highlight;
}

#entry:nth-child() {
    color: @base1;
}

#entry:selected {
    border: 2px solid @highlight;
}
